.urgent-carousel-fr {
  text-align: center;
}

.new-carousel-fr {
  text-align: center;
}

.cards-urgent{
  padding: -0.5rem;
  margin-bottom: 10rem;
  background: #fff;
}

.new-donate-cards{
  padding: -0.5rem;
  margin-bottom: 10rem;
  background: #fff;
}

.m-image-urgent {
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  height: 200px;
  background: transparent;
  font-size: 30px;
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.o-carousel-urgent {
  padding-left: 48px;
  padding-right: 48px;
}


.hero-btns .btn {
  max-width: 240px;
  border-radius: 8px;
  /* margin: 6px; */
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
  .o-carousel-urgent {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (max-width: 768px) {
  .btn-mobile {
    display: block;
    text-decoration: none;
    padding: 8px 20px;
  }

  .btns {
    width: 100%;
  }

  .o-carousel-urgent {
    padding-left: 24px;
    padding-right: 24px;
  }

  .m-image-urgent {
    width: auto;
  }
}
